html,
body,
#__next {
    height: 100%;
}

#__next {
    display: grid;
    grid-template-columns: minmax(4vw, 1fr) minmax(15rem, 35rem) minmax(
            4vw,
            1fr
        );
    grid-template-rows: auto 1fr auto;
}

header,
footer {
    grid-column: 1/4;
}

main {
    width: 100vw;
    height: 60vh;
    flex: 1;
    background-color: "#007bff22";
    margin: 0px auto;
    justify-content: center;
}
.container {
    width: 100vw;
    display: flex;
    justify-content: center;
}
