@mixin themelight {
    --color-text1: #222;
    --color-back1: #f1faee;
    --color-back2: #a8dadc;
    --color-back3: #457b9d;
    --color-back4: #1d3557;
}

@mixin themedark {
    --color-text1: #ddd;
    --color-back1: #1d3557;
    --color-back2: #457b9d;
    --color-back3: #a8dadc;
    --color-back4: #f1faee;
}

:root {
    // fonts
    --font-main: "pingfang sc", "宋体", Arial, Helvetica, sans-serif, serif;
    --font-size: clamp(1rem, calc(1rem + 0.5vw), 0.8rem);
    --font-weight: 300;
    --font-bold: 600;
    --line-height: 1.5;

    // colors: light theme (default)
    @include themelight;

    // dark theme (CSS)
    @media (prefers-color-scheme: dark) {
        @include themedark;
    }
}

// colors: user set
body.light {
    @include themelight;
}

body.dark {
    @include themedark;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    line-height: var(--line-height);
    text-rendering: optimizeLegibility;
}

body {
    overflow-y: scroll;
}

body,
h1,
h2,
h3 {
    font-weight: var(--font-weight);
}

strong {
    font-weight: var(--font-bold);
}

img {
    display: block;
    width: 100%;
    height: auto;
}
